.footer {
  background-color: #131c27;
  color: white;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-family: "Pattaya", sans-serif;
    padding: 1rem 2rem;
    margin: 0;
    font-weight: 100;
  }

  &__list {
    display: flex;
    list-style: none;
  }

  &__items {
    margin-right: 2rem;
  }
}
