.locations {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), transparent),
    url("./../../images/new-york-page.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;

  &__text--container {
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    width: 50%;
    padding: 2rem 3rem;
    font-family: "Poppins", sans-serif;
    @include ipad {
      top: 30%;
      width: 55%;
    }
    @include iphone {
      top: 15%;
    }
  }

  &__title {
    text-decoration: underline;
    font-size: 1.8rem;
    @include iphone {
      font-size: 1.5rem;
    }
  }

  &__desc {
    font-size: 1.1rem;
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    width: 55%;
    animation: cloudAnimation 3s infinite alternate ease-in-out;
    @include ipad {
      width: 70%;
    }
    @include iphone {
      width: 100%;
    }
  }
}

#cloud-2 {
  top: 20%;
  opacity: 0.5rem;
  z-index: -1;
  animation: cloudAnimation 3.2s infinite alternate ease-in-out;
  @include ipad {
    top: 10%;
  }
  @include iphone {
    top: 10%;
  }
}

@keyframes cloudAnimation {
  from {
    transform: translate(10%, -10%);
  }
  to {
    transform: translate(0, 0);
  }
}
